<!DOCTYPE html>
<html>
<body>

    Customers:<br>
    <u>
        {% for customer in customers%}
        <li>{{ customer.name }}</li> 
        <br>
        {% if customer.logo %}
        <img src="{{ customer.logo.url }}" width="100" height="100">
        {% endif %}<br>
        {% if customer.notes %}
        {{ customer.notes }} <br>
        {% endif %}
        {% if customer.linkedin %}
        {{ customer.linkedin }} <br>
        {% endif %}
        {% if customer.choices %}
        {{ customer.choices }} <br>
        {% endif %}
        <br>
        {% endfor %}
    </u>

</body>

</html>